# Python
__pycache__/
*.pyc
.venv/
venv/
.env
.superadmin_temp_password.txt

# Flutter
flutter_package/psc_update_service/.dart_tool/
flutter_package/psc_update_service/build/
flutter_package/psc_update_service/.packages
flutter_package/psc_update_service/pubspec.lock

# OS
.DS_Store
